{% extends 'base.html' %}
{% load user_tags %}
{% load static %}

{% block title %}Inicio - Maestranza{% endblock %}

{% block content %}
  <div class="container mt-5">
      <h1>Bienvenido al Sistema de Control de Inventarios</h1>
      <p>Este sistema fue desarrollado para optimizar la gestión de materiales y componentes en Maestranzas Unidos S.A.</p>
      <img src="{% static 'inventario/images/maestranza_logo.png' %}" alt="Logo de Maestranzas Unidos S.A." class="img-fluid mb-4" style="max-width: 200px;">
      <h1>Nosotros</h1>
      <p>Maestranzas Unidos S.A. es una empresa dedicada a la fabricación y mantenimiento de maquinaria industrial. Nuestro objetivo es ofrecer soluciones eficientes y de alta calidad a nuestros clientes.</p>
            
      {% if not user.is_authenticated %}
          <a href="{% url 'login' %}" class="btn btn-primary">Iniciar sesión</a>
          <a href="{% url 'register' %}" class="btn btn-outline-secondary ms-2">Registrarse</a>
      {% endif %}
  </div>
{% endblock %}
